<%- include('partials/navigation') %>
<h1>Login</h1>
<form>
  <div>
    <label>Name</label>
    <input  id="user-name" type="text">
  </div>
  <div>
    <label>Password</label>
    <input  id="password" type="text">
  </div>
  <div>
    <input type="checkbox">Remember Me
  </div>
  <div>
    <input id="login-dashboard" type="button" value="Login">
    <a href="">Forget Your Password?</a>
  </div>
</form>

<script>
  'use strict'
  const userName = document.getElementById('user-name');
  const password = document.getElementById('password');
  const loginDashboard = document.getElementById('login-dashboard');
  loginDashboard.addEventListener('click', () => {
    if(userName.value==='' || password.value==='') {
      return
    } else {
      document.location.href = "/dashboard";
    }
  });
</script>