<%- include('partials/navigation') %>
<h1>Login</h1>
<form action="/dashboard" method="post">
  <div>
    <label>Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label>Password</label>
    <input type="text" name="password">
  </div>
  <div>
    <input type="checkbox">Remember Me
  </div>
  <div>
    <input type="submit" value="Login">
    <a href="">Forget Your Password?</a>
  </div>
</form>