<%- include('partials/navigation') %>
<h1>Register</h1>
<form action="/dashboard" method="post">
  <div>
    <label>Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label>Email Address</label>
    <input type="text" name="email">
  </div>
  <div>
    <label>Password</label>
    <input type="text" name="password">
  </div>
  <div>
    <label>Confirm Password</label>
    <input type="text" name="confirmPassword">
  </div>
  <div>
    <input type="submit" value="Register">
  </div>
</form>
<% if(errorMessage) { %>
  <ul>
      <% for (let n in errorMessage) { %>
      <li>
          <%= errorMessage[n] %>
      </li>
      <% } %>
  </ul>
<% } %>
